vtemplate#v-tutor
  .container-fluid.home-student-bg
      .row.mb-5
        .col
          nav#home-nav.navbar.navbar-expand-lg.navbar-dark
            a#logo(href='#') MUSIC ACADEMY
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                  li.nav-item.active
                    a.nav-link.text-light(href='#') Home
                  li.nav-item
                    a.nav-link.text-light(href='#') About
      .row.mt-5.mb-5.justify-content-center
        .col-3
          button.btn.btn-outline-light.btn-lg(v-on:click="$emit('play_sequence')") Play Sequence
      .row.mt-5.mb-5
        .col-2
          .p
        .col-2
          .p.border.square.text-center(v-bind:class="{ inactive: is_one_inactive }")
            img.p-2(v-bind:src="box_one_img")
        .col-2
          .p.border.square.text-center(v-bind:class="{ inactive: is_two_inactive }")
            img.p-2(v-bind:src="box_two_img")
        .col-2
          .p.border.square.text-center(v-bind:class="{ inactive: is_three_inactive }")
            img.p-2(v-bind:src="box_three_img")
        .col-2
          .p.border.square.text-center(v-bind:class="{ inactive: is_four_inactive }")
            img.p-2(v-bind:src="box_four_img")
        .col-2
          .p
      .row.mt-5
        .col-2
          .p
        .col-2
          select.btn.btn-outline-light(v-model="selected_one" v-on:change="$emit('update_display')")
            option(disabled value="") Select a note
            option(v-for="option in options") {{ option }}
        .col-2
          select.btn.btn-outline-light(v-model="selected_two" v-on:change="$emit('update_display')")
            option(disabled value="") Select a note
            option(v-for="option in options") {{ option }}
        .col-2
          select.btn.btn-outline-light(v-model="selected_three" v-on:change="$emit('update_display')")
            option(disabled value="") Select a note
            option(v-for="option in options") {{ option }}
        .col-2
          select.btn.btn-outline-light(v-model="selected_four" v-on:change="$emit('update_display')")
            option(disabled value="") Select a note
            option(v-for="option in options") {{ option }}
        .col-2
          .p
  

script.
  comps.load("v-tutor")
  comps.update('v-tutor', {
    data() {
      return {
        selected_one: '',
        selected_two: '',
        selected_three: '',
        selected_four: '',
        options: ['quaver', 'semi_quaver', 'triplets', 'rest'],
        box_one_img: 'resources/transparent.png',
        box_two_img: 'resources/transparent.png',
        box_three_img: 'resources/transparent.png',
        box_four_img: 'resources/transparent.png',
        is_one_inactive: true,
        is_two_inactive: true,
        is_three_inactive: true,
        is_four_inactive: true
      };
    },
    created() {
      this.$on('update_display', () => {
        if (!(this.selected_one === '')) {
          //- console.log(`resources/${this.selected_one}.png`)
          this.box_one_img = `resources/${this.selected_one}.png`;
        }
        if (!(this.selected_two === '')) {
          this.box_two_img = `resources/${this.selected_two}.png`;
        }
        if (!(this.selected_three === '')) {
          this.box_three_img = `resources/${this.selected_three}.png`;
        }
        if (!(this.selected_four === '')) {
          this.box_four_img = `resources/${this.selected_four}.png`;
        }
      })

      this.$on('play_sequence', () => {
        if (this.selected_one === '' || this.selected_two === '' || this.selected_three === '' || this.selected_four === '') {
          return
        } else {
          var audio = new Audio()
          audio_files = [`resources/${this.selected_one}.wav`, `resources/${this.selected_two}.wav`, `resources/${this.selected_three}.wav`, `resources/${this.selected_four}.wav`]
          var index = 0;
          audio.src=`resources/${this.selected_one}.wav`;
          this.is_one_inactive = false;
          audio.play();
          index++;

          audio.onended = () => {
              if (index < 4) {
                  switch(index) {
                    case 1:
                      this.is_one_inactive = true;
                      this.is_two_inactive = false;
                      break;
                    case 2:
                      this.is_two_inactive = true;
                      this.is_three_inactive = false;
                      break;
                    case 3:
                      this.is_three_inactive = true;
                      this.is_four_inactive = false;
                      break;
                    default:
                      // code block
                  }
                  audio.src=audio_files[index];
                  audio.play();
                  index++;
              } else {
                this.is_four_inactive = true;
              }
          };
        }
      })
    }
  })