vtemplate#v-tutor
  .container-fluid.home-student-bg
      .row.mb-5
        .col
          nav#home-nav.navbar.navbar-expand-lg.navbar-dark
            a#logo(href='#') MUSIC ACADEMY
              button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                span.navbar-toggler-icon
              #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                  li.nav-item.active
                    a.nav-link.text-light(href='#') Home
                  li.nav-item
                    a.nav-link.text-light(href='#') About
      .row.mt-5.mb-5.justify-content-center
        .col-3
          button.btn.btn-outline-light.btn-lg(v-on:click="$emit('generate_random')") Play Sequence
      .row.mt-5.mb-5
        .col-2
          .p
        .col-2
          .p.border.square.text-center
            img.p-2(v-bind:src="box_one_img")
        .col-2
          .p.border.square.text-center
            img.p-2(v-bind:src="box_two_img")
        .col-2
          .p.border.square.text-center
            img.p-2(v-bind:src="box_three_img")
        .col-2
          .p.border.square.text-center
            img.p-2(v-bind:src="box_four_img")
        .col-2
          .p
      .row.mt-5
        .col-2
          .p
        .col-2
          select.btn.btn-outline-light(v-model="selected_one" v-on:change="$emit('update_display')")
            option(disabled value="") Select a note
            option(v-for="option in options") {{ option }}
        .col-2
          select.btn.btn-outline-light(v-model="selected_two" v-on:change="$emit('update_display')")
            option(disabled value="") Select a note
            option(v-for="option in options") {{ option }}
        .col-2
          select.btn.btn-outline-light(v-model="selected_three" v-on:change="$emit('update_display')")
            option(disabled value="") Select a note
            option(v-for="option in options") {{ option }}
        .col-2
          select.btn.btn-outline-light(v-model="selected_four" v-on:change="$emit('update_display')")
            option(disabled value="") Select a note
            option(v-for="option in options") {{ option }}
        .col-2
          .p
  

script.
  comps.load("v-tutor")
  comps.update('v-tutor', {
    data() {
      return {
        selected_one: '',
        selected_two: '',
        selected_three: '',
        selected_four: '',
        options: ['quaver', 'semi_quaver', 'triplets', 'rest'],
        box_one_img: 'resources/transparent.png',
        box_two_img: 'resources/transparent.png',
        box_three_img: 'resources/transparent.png',
        box_four_img: 'resources/transparent.png',
      };
    },
    created() {
      this.$on('update_display', () => {
        if (!(this.selected_one === '')) {
          //- console.log(`resources/${this.selected_one}.png`)
          this.box_one_img = `resources/${this.selected_one}.png`;
        }
        if (!(this.selected_two === '')) {
          this.box_two_img = `resources/${this.selected_two}.png`;
        }
        if (!(this.selected_three === '')) {
          this.box_three_img = `resources/${this.selected_three}.png`;
        }
        if (!(this.selected_four === '')) {
          this.box_four_img = `resources/${this.selected_four}.png`;
        }
      })
    }
  })